un<div id="mdcnette-dialog"
       class="mdc-dialog"
       role="alertdialog"
       aria-modal="true"
       aria-labelledby="{$title}">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <h2 n:if="$title" class="mdc-dialog__title" id="my-dialog-title">
                <i n:if="$icon" class="material-icons" style="vertical-align: text-bottom;">{$icon}</i>
                {$title}
            </h2>
            <div n:if="$content" class="mdc-dialog__content" id="my-dialog-content">
                {$content|noescape}
            </div>
            <footer class="mdc-dialog__actions">
                {form form}
                    <button n:foreach="(array)$form->getComponents() as $component"
                            n:if="$component->getOptions()['type'] === 'button'"
                            n:name="$component->getName()"
                            n:class="'mdc-button', 'mdc-dialog__button', $ajax ? 'ajax', $buttonFocus === $component->name ? 'focus'" data-mdc-dialog-action="{$component->caption}">
                        <span class="mdc-button__label">{$component->caption}</span>
                    </button>
                {/form}
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>